/* DIAGNOSTIC STYLING */

body {
    background: black;
  }

/* LAYOUT */

  body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
  }

  header {
    padding: 1em;
  }
  
  header,
  footer {
    grid-column: 1 / span 5;
  }
  
  main {
    grid-column: 1 / span 3;
  }
  
  aside {
    grid-column: span 2;
    padding: 0 1em;
  }
  
  @media (max-width: 700px) {
    
    main,
    aside {
      grid-column: 1 / span 5;
    }
    
  }
  
  /* Demo Specific Styles */
  body {
    margin: 0 auto;
    max-width: 60em;
    padding: 1em;
  }
  
  header,
  main,
  aside,
  footer {
    background: black;
  }
  
  header,
  footer {
    min-height: 10vw;;
  }

/* HEADER */

h1  {
  font-family: "VI Phu Dung Hoa Medium", sans-serif;
  color: #D11;
  margin: 0 0 .2em 0;
  font-size: 3em;
}

h5  {
  font-family: "Barlow", sans-serif;
  margin: 0;
  color: white;
  font-size: 1em;
}

/* MAIN */

video {
  max-width: 100%;
}

/* Styled Player */
.mejs__currenttime, 
.mejs__duration {
  font-size: 16px;
}

.mejs__time-current {
  background: #D11;
}

/* Actors */
main section{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

figcaption{
  width: 120px;
  color: white;
  font-family: "Barlow", sans-serif;
}

/* ASIDE */

aside p {
  color: #D11;
  font-family: "VI Phu Dung Hoa Medium", sans-serif;
  font-size: 1em;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
}

a:hover,
a:active {
  color: #D11;
}

ul > li {
  list-style: square;
  color: white;
}


/* FOOTER */

footer {
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: center;
  padding-inline-start: 0;
}

footer li {
  list-style: none;
}

footer li img {
  margin: 0 .5em;
}

/* FONTS */

@font-face {
  font-family: "VI Phu Dung Hoa Medium";
  src: url("/fonts/VI-Phu-Dung-Hoa-Medium.ttf");
  src: url("/fonts/VI-Phu-Dung-Hoa-Medium.woff") format("woff");
  }